<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="~/Admin/Index"><i class="fa fa-home"></i>Home</a>
            </li>
            @if (Session["UserRole"].ToString().Equals("ADMIN"))//System Administrator
            {
                <li>
                    <a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="~/User/Index">Create User</a></li>
                        <li><a href="~/User/ViewUsers">View User</a></li>
                    </ul>
                </li>
            }
            <li>
                <a><i class="fa fa-user"></i> Landlord <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Landlord/AddLandlord">Create Landlord</a></li>
                    <li><a href="~/Landlord/ViewLandlords">View Landlord</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-bank"></i> Transaction Report <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Transaction/Index">Transaction History</a></li>
                    <li><a href="~/Transaction/UtilityTransactions">Utility Transactions</a></li>

                </ul>
            </li>
            <li>
                <a><i class="fa fa-bank"></i> Loan Report <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Loan/LoanStatus">Loan Status Report</a></li>
                    <li><a href="~/Loan/RepaymentHistory">Loan Repayment Report</a></li>
                </ul>
            </li>

        </ul>
    </div>

</div>
